.label{

    float:left;
   



}
.val{

     float:right;
      font-style: italic;
}



.infobox{
    clear:both;
    margin: 10px;
    padding-bottom: 15px;
}


.base-icon {
    font-size: 28px;
    color: #aaa;
}